{@org.soframel.homeautomation.deconz.model.ScheduleForEachDay schedules}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Schedules for thermostat {thermostat}</title> 
</head>
<body>
    <h1>Weekly Schedules for Thermostat {thermostat}</h1>
    <form action="/" method="POST">
    <h2>Holidays</h2>
    <ul>
    {#for transition in schedules.holidaySchedules}
        <li><input name="holidays-{transition_index}-time" value="{transition.time}"/> : <input name="holidays-{transition_index}-temperature" value="{transition.temperature}"/> °C</li>
    {/for}    
        <li><input name="holidays-{schedules.holidaySchedules.size}-time" value=""/> : <input name="holidays-{schedules.holidaySchedules.size}-temperature" value=""/> °C</li>
        <li><input name="holidays-{schedules.holidaySchedules.size + 1}-time" value=""/> : <input name="holidays-{schedules.holidaySchedules.size + 1}-temperature" value=""/> °C</li>
    </ul>

    <h2>Monday</h2>
    <ul>
    {#for transition in schedules.mondaySchedules}
        <li><input name="monday-{transition_index}-time" value="{transition.time}"/> : <input name="monday-{transition_index}-temperature" value="{transition.temperature}"/> °C</li>
    {/for}    
        <li><input name="monday-{schedules.holidaySchedules.size}-time" value=""/> : <input name="monday-{schedules.holidaySchedules.size}-temperature" value=""/> °C</li>
        <li><input name="monday-{schedules.holidaySchedules.size + 1}-time" value=""/> : <input name="monday-{schedules.holidaySchedules.size + 1}-temperature" value=""/> °C</li>
    </ul>

    <h2>Tuesday</h2>
    <ul>
    {#for transition in schedules.tuesdaySchedules}
        <li><input name="tuesday-{transition_index}-time" value="{transition.time}"/> : <input name="tuesday-{transition_index}-temperature" value="{transition.temperature}"/> °C</li>
    {/for}    
        <li><input name="tuesday-{schedules.holidaySchedules.size}-time" value=""/> : <input name="tuesday-{schedules.holidaySchedules.size}-temperature" value=""/> °C</li>
        <li><input name="tuesday-{schedules.holidaySchedules.size + 1}-time" value=""/> : <input name="tuesday-{schedules.holidaySchedules.size + 1}-temperature" value=""/> °C</li>
    </ul>

    <h2>Wednesday</h2>
    <ul>
    {#for transition in schedules.wednesdaySchedules}
        <li><input name="wednesday-{transition_index}-time" value="{transition.time}"/> : <input name="wednesday-{transition_index}-temperature" value="{transition.temperature}"/> °C</li>
    {/for}    
        <li><input name="wednesday-{schedules.holidaySchedules.size}-time" value=""/> : <input name="wednesday-{schedules.holidaySchedules.size}-temperature" value=""/> °C</li>
        <li><input name="wednesday-{schedules.holidaySchedules.size + 1}-time" value=""/> : <input name="wednesday-{schedules.holidaySchedules.size + 1}-temperature" value=""/> °C</li>
    </ul> 

    <h2>Thursday</h2>
    <ul>
    {#for transition in schedules.thursdaySchedules}
        <li><input name="thursday-{transition_index}-time" value="{transition.time}"/> : <input name="thursday-{transition_index}-temperature" value="{transition.temperature}"/> °C</li>
    {/for}    
        <li><input name="thursday-{schedules.holidaySchedules.size}-time" value=""/> : <input name="thursday-{schedules.holidaySchedules.size}-temperature" value=""/> °C</li>
        <li><input name="thursday-{schedules.holidaySchedules.size + 1}-time" value=""/> : <input name="thursday-{schedules.holidaySchedules.size + 1}-temperature" value=""/> °C</li>
    </ul> 

    <h2>Friday</h2>
    <ul>
    {#for transition in schedules.fridaySchedules}
        <li><input name="friday-{transition_index}-time" value="{transition.time}"/> : <input name="friday-{transition_index}-temperature" value="{transition.temperature}"/> °C</li>
    {/for}    
        <li><input name="friday-{schedules.holidaySchedules.size}-time" value=""/> : <input name="friday-{schedules.holidaySchedules.size}-temperature" value=""/> °C</li>
        <li><input name="friday-{schedules.holidaySchedules.size + 1}-time" value=""/> : <input name="friday-{schedules.holidaySchedules.size + 1}-temperature" value=""/> °C</li>
    </ul>   

    <h2>Saturday</h2>
    <ul>
    {#for transition in schedules.saturdaySchedules}
        <li><input name="saturday-{transition_index}-time" value="{transition.time}"/> : <input name="saturday-{transition_index}-temperature" value="{transition.temperature}"/> °C</li>
    {/for}    
        <li><input name="saturday-{schedules.holidaySchedules.size}-time" value=""/> : <input name="saturday-{schedules.holidaySchedules.size}-temperature" value=""/> °C</li>
        <li><input name="saturday-{schedules.holidaySchedules.size + 1}-time" value=""/> : <input name="saturday-{schedules.holidaySchedules.size + 1}-temperature" value=""/> °C</li>
    </ul>

    <h2>Sunday</h2>
    <ul>
    {#for transition in schedules.sundaySchedules}
        <li><input name="sunday-{transition_index}-time" value="{transition.time}"/> : <input name="sunday-{transition_index}-temperature" value="{transition.temperature}"/> °C</li>
    {/for}    
        <li><input name="sunday-{schedules.holidaySchedules.size}-time" value=""/> : <input name="sunday-{schedules.holidaySchedules.size}-temperature" value=""/> °C</li>
        <li><input name="sunday-{schedules.holidaySchedules.size + 1}-time" value=""/> : <input name="sunday-{schedules.holidaySchedules.size + 1}-temperature" value=""/> °C</li>
    </ul>  

    <br>
    <input type="submit" value="Update"/>
    </form>
</body>
</html>