{@org.soframel.homeautomation.deconz.model.ScheduleForEachDay schedules}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Schedules for thermostat {thermostat}</title> 
</head>
<body>
    <h1>Weekly Schedules for Thermostat {thermostat}</h1>
    <form action="/" method="POST">
    <input type="hidden" name="thermostat" value="{thermostat}"/>
    <h2>Holidays</h2>
    <table>
        <thead><td>Time (HH:MM)</td><td>Temperature (°C)</td><td>Delete?</td></thead>
    {#for transition in schedules.holidaySchedules}
        <tr><td><input name="holidays-{transition_index}-time" value="{transition.time}"/></td><td><input name="holidays-{transition_index}-temperature" value="{transition.temperature}"/></td><td><input type="checkbox" name="holidays-{transition_index}-delete" value="true"></td></tr>
    {/for}    
        <tr><td><input name="holidays-{schedules.holidaySchedules.size}-time" value=""/></td><td><input name="holidays-{schedules.holidaySchedules.size}-temperature" value=""/></td><td></td></tr>
        <tr><td><input name="holidays-{schedules.holidaySchedules.size + 1}-time" value=""/></td><td><input name="holidays-{schedules.holidaySchedules.size + 1}-temperature" value=""/></td><td></td></tr>
    </table>

    <h2>Monday</h2>
    <table>
        <thead><td>Time (HH:MM)</td><td>Temperature (°C)</td><td>Delete?</td></thead>
    {#for transition in schedules.mondaySchedules}
        <tr><td><input name="monday-{transition_index}-time" value="{transition.time}"/></td><td><input name="monday-{transition_index}-temperature" value="{transition.temperature}"/></td><td><input type="checkbox" name="monday-{transition_index}-delete" value="true"></td></tr>
    {/for}    
        <tr><td><input name="monday-{schedules.mondaySchedules.size}-time" value=""/></td><td><input name="monday-{schedules.mondaySchedules.size}-temperature" value=""/></td><td></td><td></td></tr>
        <tr><td><input name="monday-{schedules.mondaySchedules.size + 1}-time" value=""/></td><td><input name="monday-{schedules.mondaySchedules.size + 1}-temperature" value=""/></td><td></td><td></td></tr>
    </table>

    <h2>Tuesday</h2>
    <table>
        <thead><td>Time (HH:MM)</td><td>Temperature (°C)</td><td>Delete?</td></thead>
    {#for transition in schedules.tuesdaySchedules}
        <tr><td><input name="tuesday-{transition_index}-time" value="{transition.time}"/></td><td><input name="tuesday-{transition_index}-temperature" value="{transition.temperature}"/></td><td><input type="checkbox" name="tuesday-{transition_index}-delete" value="true"></td></tr>
    {/for}    
        <tr><td><input name="tuesday-{schedules.tuesdaySchedules.size}-time" value=""/></td><td><input name="tuesday-{schedules.tuesdaySchedules.size}-temperature" value=""/></td><td></td></tr>
        <tr><td><input name="tuesday-{schedules.tuesdaySchedules.size + 1}-time" value=""/></td><td><input name="tuesday-{schedules.tuesdaySchedules.size + 1}-temperature" value=""/></td><td></td></tr>
    </table>

    <h2>Wednesday</h2>
    <table>
        <thead><td>Time (HH:MM)</td><td>Temperature (°C)</td><td>Delete?</td></thead>
    {#for transition in schedules.wednesdaySchedules}
        <tr><td><input name="wednesday-{transition_index}-time" value="{transition.time}"/></td><td><input name="wednesday-{transition_index}-temperature" value="{transition.temperature}"/></td><td><input type="checkbox" name="wednesday-{transition_index}-delete" value="true"></td></tr>
    {/for}    
        <tr><td><input name="wednesday-{schedules.wednesdaySchedules.size}-time" value=""/></td><td><input name="wednesday-{schedules.wednesdaySchedules.size}-temperature" value=""/></td><td></td></tr>
        <tr><td><input name="wednesday-{schedules.wednesdaySchedules.size + 1}-time" value=""/></td><td><input name="wednesday-{schedules.wednesdaySchedules.size + 1}-temperature" value=""/></td><td></td></tr>
    </table> 

    <h2>Thursday</h2>
    <table>
        <thead><td>Time (HH:MM)</td><td>Temperature (°C)</td><td>Delete?</td></thead>
    {#for transition in schedules.thursdaySchedules}
        <tr><td><input name="thursday-{transition_index}-time" value="{transition.time}"/></td><td><input name="thursday-{transition_index}-temperature" value="{transition.temperature}"/></td><td><input type="checkbox" name="thursday-{transition_index}-delete" value="true"></td></tr>
    {/for}    
        <tr><td><input name="thursday-{schedules.thursdaySchedules.size}-time" value=""/></td><td><input name="thursday-{schedules.thursdaySchedules.size}-temperature" value=""/></td><td></td></tr>
        <tr><td><input name="thursday-{schedules.thursdaySchedules.size + 1}-time" value=""/></td><td><input name="thursday-{schedules.thursdaySchedules.size + 1}-temperature" value=""/></td><td></td></tr>
    </table> 

    <h2>Friday</h2>
    <table>
        <thead><td>Time (HH:MM)</td><td>Temperature (°C)</td><td>Delete?</td></thead>
    {#for transition in schedules.fridaySchedules}
        <tr><td><input name="friday-{transition_index}-time" value="{transition.time}"/></td><td><input name="friday-{transition_index}-temperature" value="{transition.temperature}"/></td><td><input type="checkbox" name="friday-{transition_index}-delete" value="true"></td></tr>
    {/for}    
        <tr><td><input name="friday-{schedules.fridaySchedules.size}-time" value=""/></td><td><input name="friday-{schedules.fridaySchedules.size}-temperature" value=""/></td><td></tr>
        <tr><td><input name="friday-{schedules.fridaySchedules.size + 1}-time" value=""/></td><td><input name="friday-{schedules.fridaySchedules.size + 1}-temperature" value=""/></td><td></td></tr>
    </table>   

    <h2>Saturday</h2>
    <table>
        <thead><td>Time (HH:MM)</td><td>Temperature (°C)</td><td>Delete?</td></thead>
    {#for transition in schedules.saturdaySchedules}
        <tr><td><input name="saturday-{transition_index}-time" value="{transition.time}"/></td><td><input name="saturday-{transition_index}-temperature" value="{transition.temperature}"/></td><td><input type="checkbox" name="saturday-{transition_index}-delete" value="true"></td></tr>
    {/for}    
        <tr><td><input name="saturday-{schedules.saturdaySchedules.size}-time" value=""/></td><td><input name="saturday-{schedules.saturdaySchedules.size}-temperature" value=""/></td><td></td></tr>
        <tr><td><input name="saturday-{schedules.saturdaySchedules.size + 1}-time" value=""/></td><td><input name="saturday-{schedules.saturdaySchedules.size + 1}-temperature" value=""/></td><td></td></tr>
    </table>

    <h2>Sunday</h2>
    <table>
        <thead><td>Time (HH:MM)</td><td>Temperature (°C)</td><td>Delete?</td></thead>
    {#for transition in schedules.sundaySchedules}
        <tr><td><input name="sunday-{transition_index}-time" value="{transition.time}"/></td><td><input name="sunday-{transition_index}-temperature" value="{transition.temperature}"/></td><td><input type="checkbox" name="sunday-{transition_index}-delete" value="true"></td></tr>
    {/for}    
        <tr><td><input name="sunday-{schedules.sundaySchedules.size}-time" value=""/></td><td><input name="sunday-{schedules.sundaySchedules.size}-temperature" value=""/></td><td></td></tr>
        <tr><td><input name="sunday-{schedules.sundaySchedules.size + 1}-time" value=""/></td><td><input name="sunday-{schedules.sundaySchedules.size + 1}-temperature" value=""/></td><td></td></tr>
    </table>  

    <br>
    <input type="submit" value="Update"/>
    </form>
</body>
</html>